---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Issam, a back-end software developer from Algeria.
      <br />
       My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>Solidjs</li>
        <li>Astro</li>
        <li>svelte</li>
        <li>Nodejs</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      As a backend developer, I have deep expertise in managing databases such as MongoDB, 
      as well as configuring and maintaining servers.
       Additionally, I have good knowledge of the AWS (Amazon Web Services) platform, 
       which allows me to deploy and manage applications efficiently and securely in the cloud. 
       My experience in these areas allows me to contribute significantly to the robust and scalable
       development of backend solutions.
    </p>
    
    </p>
  </div>
</Card>
